body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.ant-popover-placement-bottom {
	position: fixed !important; /* S'assurer que la règle est prioritaire */
  top: 50px; /* Ajuste en fonction de l'emplacement souhaité */
}