.main {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding-top: 100px;
	background-color: #020d22;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 90px;
	background-color: #304352;
	color: white;
	padding: 0px 50px 0px 10px;
	position: fixed;
	top: 0;
	z-index: 1000;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

.title {
	max-width: 100vw;
	margin: 20px 0px 0px 0px;
	font-weight: 400;
	font-size: 32px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	color:#F2A643
}

.logocontainer {
	display: flex;
	justify-content: left;
	align-items: center;
	
}

.logocontainer img {
	width: 80%;  /* Ajustez cette valeur selon la taille souhaitée */
	height: auto;  /* Garde les proportions du logo */
  }

.moviesContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100vw;
	margin: 20px;
}

.button :hover {
	color:#F2A643;
}

.drawer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	color:#304352;
	transition-duration: 0.5s;
	cursor: pointer;
}

.drawerContent {
	display: flex;
	flex-direction: column;
}

.likedMoviesContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 5px;
	font-size: 16px;
	font-weight: 600;
}

.crossIcon {
	cursor: pointer;
	padding-left: 10px;
	color:#e0a72a;
	height: 20px;
}