.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 260px;
	margin: 20px;
	position: relative;
}

.image {

	width: 260px;
	border-radius: 10px 10px 10px 10px;
	transition: transform 0.7s ease;
	margin-bottom: 5px;
}

.image:hover {
	transform: scale(1.05);
  }

.textContainer {
	display: flex;
	flex-direction: column;
	height: 230px;
	margin: 10px 0px 10px 00px;
}

.name {
	font-weight: 800;
	font-size: 18px;
	color: rgb(201, 212, 224);
}

.description {
	line-clamp: 3;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	overflow: hidden;
	font-weight: 300;
	font-size: 14px;
	color: rgb(206, 206, 206);
}

.iconContainer {
	display: flex;
	flex-direction: column;
	font-size: 12px;
}